<!DOCTYPE html>
<html>

<head>

<title>Mental Galaxy</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<div class="glass">

<img
src="{{ url_for('static',
filename='images/logo.png') }}"
class="logo">

<h1>MENTAL GALAXY</h1>

<p>
Explore Your Emotions
Among The Stars
</p>

<img
src="{{ url_for('static',
filename='images/characters/astronaut.png') }}"
class="astronaut">

<br>

<a href="/map">

<button>

🚀 START JOURNEY

</button>

</a>

</div>

</body>

</html>